#weatherData {
	margin-top: 80px;
}

#weatherToday {
	padding: 0 10%;
}

#cityDescription {
	display: flex;
}

#locationIcon {
	width: 19px;
	height: 19px;
}

#cityName {
	margin: 0;
	margin-left: 5px;
}

#weatherTodayTemp {
	margin: 0;
	font-weight: bold;
	font-size: 150px;
}

@media only screen and (max-width: 600px) {
	#weatherTodayTemp {
		font-size: 100px;
	}
}

#weatherTodayData {
	display: inline-flex;
}

#weatherTodayVisual {
	margin-left: 20px;
	padding-top: 30px;
}

@media only screen and (max-width: 600px) {
	#weatherTodayVisual {
		padding-top: 20px;
	}
}

#weatherTodayIcon {
	width: 100px;
	height: 100px;
}

@media only screen and (max-width: 600px) {
	#weatherTodayIcon {
		width: 60px;
		height: 60px;
	}
}

#weatherTodayDescription {
	margin: 0;
}
