#searchBar {
	display: inline-flex;
	margin-top: 10vmin;
	width: 100%;
}

@media only screen and (max-width: 600px) {
	#searchBar {
		margin-top: 20vmin;
	}
}

#searchIcon {
	height: 2rem;
	width: 2rem;
}

#searchInput {
	margin: 0 5vmin;
	width: 100%;
	min-width: 100px;
	border: none;
	border-bottom: 2px solid black;
}

#searchInput:focus {
	outline: none;
}

#searchButton {
	border: 0px;
	border-radius: 20px;
	padding: 0px 20px;
	background-color: #404040;
	color: white;
	cursor: pointer;
}
